<a href="https://colab.research.google.com/github/LavanyaMaruthachalam/Python/blob/main/MDTE11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

@ 6/1/2025 10pm

In [ ]:
print ("1+1")

1+1

In [ ]:
print (11 ** 2)

121

In [ ]:
print("1+1")

1+1

In [ ]:
print(input("enter your name : "))

enter your name lavannya
lavannya

In [ ]:
print (input("enter your otp : "))

enter your otp : 23
23

In [ ]:
print (input("enter your otp : ") + "Valid")

enter your otp : 15
15Valid

In [ ]:
print(input ("enter your name : ") + " hi")

enter your name : Lavanya
Lavanya hi

In [ ]:
nirmal = input("enter your company ")

print("hi " + nirmal)

enter your company lavanya
hi lavanya

In [3]:
print(r"\n this is the first session") #-> raw string

print(f"\n this is the first session") #-> formatted string

print(f"\t this is the first session") #-> tab created

\n this is the first session

 this is the first session
	 this is the first session

In [ ]:
a="guvi"
print(r"\n this is the first session {a}") # print as it is

print(f"\n this is the first session {a}") #formatted the string

\n this is the first session {a}

 this is the first session guvi

In [ ]:
a = 1 #int
b = 2.345 #float
c = "nj1122, 1.3,edbnk" #str
d =  True # boolean
e = False # boolean
f = None# None Type
g = [ 2,22,2.2, 3.32,"jk", [1,2,3]] #-->list ----heterogenous----mutable


g[0]= "nirmal"
print (g)

h = (1, 2,2.23, "nfjfj",[1,2,3]) # -->tuple ------homogenous-----immutable
print(h)

i={"1", 2,1,2}# ---->set
print(i)

j= {"name": ["niramal","netaji"], "state":"tamil nadu", "ph":123,"age":100}#keys must be unique

j["age1"]=200
print (j["name"][0])

print (g[4][1])

print (g[5][1])

['nirmal', 22, 2.2, 3.32, 'jk', [1, 2, 3]]
(1, 2, 2.23, 'nfjfj', [1, 2, 3])
{1, 2, '1'}
niramal
k
2

In [ ]:
print (20+21)
print(20-21)
print(20*21)
print(20/21)


print(20//3)
print(20%2)
print(20**2)

41
-1
420
0.9523809523809523
6
0
400

In [ ]:
#comparison operators

print(20>21)
print(20<21)
print(20>=21)
print(20<=21)


print(20==21)
print(20!=21)

False
True
False
True
False
True

In [ ]:
print("nirmal"=="nirmal")

True

In [ ]:
print(True or False)
print(1 or 0)
print (1 and 0)
print(True and False)
print ("NIRMAL" or "guvi")
print ("NIRMAL" and "guvi")

True
1
0
False
NIRMAL
guvi

In [ ]:
if 1>2:
  print("hi")
else:
  print("bye")

bye

In [ ]:
pin = input("Enter pin ")
if pin =="0818":
  print("Welcome")
else:
  print("invalid pin")

Enter pin 00
invalid pin

In [ ]:
card = input("enter your card number: ")
balance=10000
if card =="11111":
  print("valid card")
  pin = input("enter your pin: ")
  if pin =="0818":
    print("valid card")
    ops=input("Enter D for deposit and W for withdraw: ")
    if ops == "D" or ops=="d":
      amount= int(input("enter amount: "))
      balance = balance + amount
      print("your balance is ", balance)
    elif ops =="W" or ops=="w":
      amount = int(input("enter amount: "))
      if amount > balance or amount < 0 :
        print ("Insufficient balance")
      else:
        balance = balance - amount
        print("your balance is ", balance)
    else:
      print ("Invalid Input:")
  else :
     print("invalid pin")
else:
  print("invalid card")

enter your card number: 11111
valid card
enter your pin: 0818
valid card
Enter D for deposit and W for withdraw: w
enter amount: 10
your balance is  9990

In [ ]:
for iterate in "lavanya":
  print(iterate)

l
a
v
a
n
y
a

In [ ]:
for i in "lavanya":
  print(i.upper())

L
A
V
A
N
Y
A

In [ ]:
box=""
for i in "lavanya":
  box=(box+i.lower())
print(box)

lavanya

In [ ]:
box=""
for i in "lavanya":
  box=(box+i.lower())
print(box)

lavanya

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(3,10):
  print(i)

3
4
5
6
7
8
9

In [ ]:
for i in range(3,10,2):
  print(i)

3
5
7
9

In [ ]:
for i in range(10,3,-1):
  print(i)

10
9
8
7
6
5
4

In [ ]:
for i in {"lavanya", "Mano", "Bala"}:    #[],{},()
  print(i.upper())

LAVANYA
BALA
MANO

In [ ]:
for x in {"name": ["niramal","netaji"], "state":"tamil nadu", "ph":123,"age":100}:
  print(x)

name
state
ph
age

In [ ]:
for x in {"name": ["niramal","netaji"], "state":"tamil nadu", "ph":123,"age":100}:
  print(x)

SyntaxError: cannot assign to function call (<ipython-input-14-709949656670>, line 1)

In [ ]:
a= {"name": ["niramal","netaji"], "state":"tamil nadu", "ph":123,"age":100}
b=a.keys()
c=a.values()
d=a.items()
print(b)
print(c)
print(d)

dict_keys(['name', 'state', 'ph', 'age'])
dict_values([['niramal', 'netaji'], 'tamil nadu', 123, 100])
dict_items([('name', ['niramal', 'netaji']), ('state', 'tamil nadu'), ('ph', 123), ('age', 100)])

In [ ]:
for i in b:
  print(i)
for i in c:
  print(i)
for i in d:
  print(i)

name
state
ph
age
['niramal', 'netaji']
tamil nadu
123
100
('name', ['niramal', 'netaji'])
('state', 'tamil nadu')
('ph', 123)
('age', 100)

In [ ]:
for i in a.keys():
  print(i)
for i in a.values():
  print(i)
for i in a.items():
  print(i)

name
state
ph
age
['niramal', 'netaji']
tamil nadu
123
100
('name', ['niramal', 'netaji'])
('state', 'tamil nadu')
('ph', 123)
('age', 100)

In [ ]:
a= {"name": ["niramal","netaji"], "state":"tamil nadu", "ph":123,"age":100}
for x,y in a.items():
  print(x)

name
state
ph
age

In [ ]:
x= a.items()
print(*x)

('name', ['niramal', 'netaji']) ('state', 'tamil nadu') ('ph', 123) ('age', 100)

In [ ]:
a=[('name', ['niramal', 'netaji']), ('state', 'tamil nadu'), ('ph', 123), ('age', 100)]

for x,y in a:
  print(x)

name
state
ph
age